@charset "UTF-8";

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
}

.info_box {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	height: 150px;
	font-family: 'GangwonState';
	/* background-color: #FFC894; */
}

.board_logo {
	display: flex;
	width: 35%;
	height: 100%;
	align-items: center;
	float: left;
}

.board_logo img {
	width: 30%;
	margin: 0 auto;
	display: block;
}

.namebar {
	width: 65%;
	height: 100%;
	float: left;
}

.name {
	font-size: x-large;
	margin: 40px 0px 20px 0px;
}

.etc {
	float: left;
	height: 50px;
	
}

.date, .like, .ip {
	float: left;
	line-height: 50px;
	margin-right: 30px;
}

.detail-content{
	width: 1000px;
	height: auto;
	margin: 50px auto;
	font-family: 'SUIT-Regular';
	box-sizing: border-box;
	border-top: 2px solid #9E9E9E;
	background-color: yellow;
}

.title{
	width: 90%;
	height: 60px;
	line-height: 40px;
	padding: 10px 30px;
	font-size: 15pt;
	font-weight: bolder;
	background-color: pink;
	box-sizing: border-box;
	border-bottom: 2px solid #9E9E9E;
	float: left;
}

.button_edit {
	float: right;
	width: 10%;
}

.button_edit:hover{
	cursor: pointer;
}

.commentBox {
	width: 100%;
	height: 300px;
	padding: 10px;
	background-color: gray;
	box-sizing: border-box;
}

#commenttextarea {
	width: calc(100% - 100px);
	height: 280px;
}

#comment {
	width: 100px;
	height: 280px;
}
