@charset "UTF-8";

body {
	font-family: 'GangwonState';
	height: 100%;
}

.join {
	margin: 0 auto;
	width: 700px;
	height: auto;
	border: 3px solid #E0E0E0;
	margin-top: 50px;
	box-sizing: border-box;
}

.join h1 {
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}

.text {
	font-size: 13pt;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #EC87C0;
}

.title {
	width: 520px;
	margin: 0 auto;
	align-content: center;
	font-weight: bold;
}

input {
	font-family: 'GangwonState';
	width: 500px;
	height: 25px;
	border: 1px solid black;
	margin-top: 10px;
	padding: 10px;
}

#id {
	width: 400px;
	float: left;
}

#idCheck {
	width: 85px;
	height: 45px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 0;
	border: 1px solid #EC87C0;
	font-size: 10pt;
	color: white;
	background-color: #EC87C0;
	margin-bottom: 10px;
}

#idCheck:hover {
	cursor: pointer;
}

.mb {
	width: 520px;
	height: 45px;
	border: 1px solid black;
	margin-top: 10px;
}

select {
	margin-top: 10px;
	box-sizing: border-box;
	font-family: 'GangwonState';
	padding: 10px;
	font-size: 13pt;
}

.select input[type=radio] {
	display: none;
}

.select input[type=radio]+label {
	display: inline-block;
	cursor: pointer;
	height: 45px;
	width: 255px;
	border: 1px solid #333;
	text-align: center;
	font-weight: bold;
	line-height: 45px;
	background-color: #fff;
	color: #333;
}

.select input[type=radio]:checked+label {
	background-color: #333;
	color: #fff;
}

.btt {
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 50px;
}

.cancel, .signup {
	margin: 0 auto;
	width: 100px;
	height: 40px;
	border: 0;
	margin-left: 5px;
	box-sizing: border-box;
}

.cancel {
	background-color: #bdbdbd;
	color: white;
	border: 0;
	margin-right: 20px;
	box-sizing: border-box;
	font-size: 11pt; 
}

.signup {
	color: #EC87C0;
	background-color: white;
	border: 2px solid #EC87C0;
	font-size: 11pt; 
}

.cancel:hover {
	cursor: pointer;
	background-color: black;
	font-weight: bold;
}

.signup:hover {
	cursor: pointer;
	background-color: #EC87C0;
	color: white;
	font-weight: bold;
}