@charset "UTF-8";

@font-face {
	font-family: 'GangwonState';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: 'GangwonState';
}

.wrap {
	width: 1000px;
	height: 800px;
	margin: 150px auto 0;
	text-align: center;
}

.img_form {
	width: 500px;
	height: 500px;
	background-image: url("../img/background.jpg");
	background-size: cover;
	float: left;
}

.login_form {
	width: 500px;
	height: 500px;
	box-sizing: border-box;
	text-align: center;
	float: left;
	text-align: center;
}

h1 {
	text-align: center;
	padding: 20px;
}

#id {
	width: 400px;
	height: 50px;
	margin: 25px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom-color: #bdbdbd;
}

#pw {
	width: 400px;
	height: 50px;
	margin: 25px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom-color: #bdbdbd;
}

input {
	padding: 15px;
	box-sizing: border-box;
}

input::placeholder {
	color: #bdbdbd;
}

button {
	width: 400px;
	height: 50px;
	margin-top: 30px;
	background-color: black;
	color: white;
	border: 0;
}

.login:hover {
	cursor: pointer;
	background-color: #EC87C0;
	color: white;
}

.footer {
	width: 300px;
	margin: 50px;
	margin: 0 auto;
	margin-top: 50px;
	color: black;
}

.footer a {
	text-decoration: none;
	color: black;
}

.footer a:hover {
	cursor: pointer;
	color: #EC87C0;
}